/**
 * The main CSS file, for governing most, if not all, of the app.
 */

#WelcomeDiv {
    height: 60vh;
    background-color: #0099ff;
    color: white;
}

#SULI {
    text-align: center;
    margin-top: 10vh;
}

#SULI > a {
    padding: 15px;
    background-color: #0066cc;
    color: white;
    border-radius: 5px;
    margin: 10px;
    margin-top: 60px !important;
}

#SULI > a:hover {
    text-decoration: none;
    color: black;
    background-color: #004d99;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar {
    border-width: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: #0066cc !important;
}

.nav.navbar-nav.navbar-right > li > a {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5em !important;
}

.navbar-brand:hover {
    color: black !important;
}

.nav.navbar-nav.navbar-right > li > a:hover {
    color: black !important;
}

.jumbotron {
    margin-top: 0 !important;
}

ul {
    list-style: none;
}

#Plan ul li {
    padding: 9px;
}

#Plan {
    padding-top: 30px;
}
