<!DOCTYPE html>
<html>
    <head>
        <title>RIME</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'layouts/navbar' %>

        <div id = "BannerDiv" class = "jumbotron">

            <h1>Signed up Successfully!</h1>

        </div>

    </body>
</html>
