<!-- The Welcome page, with some info about the app, and a link for logging in -->
<!DOCTYPE html>
<html>
    <head>
        <title>RIME</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'layouts/navbar' %> 

        <div id = "BannerDiv" class = "jumbotron">

            <h1>Welcome to RIME!</h1>

            <!-- Div for Sign-Up and LogIn buttons -->
            <div id = "SULI">
                <a href = "signup.html.erb"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                <a href = "login.html.erb"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
            </div>

        </div>

        <div class = "container">

            <div id = "AboutDiv">

                <h2><span class="glyphicon glyphicon-question-sign"></span> What is RIME?</h2>
                <p>
                    RIME is a chat application, based on the RINE app from Steins;Gate 0.  Nothing too fancy.
                </p>

                <p>
                    It is being made in Ruby, using the <a href = "http://rubyonrails.org/">Ruby on Rails</a> framework, and uses <a href = "https://travis-ci.org/">Travis CI</a>
                    for Continuous Integration and running tests etc.  The app will be hosted on <a href = "https://www.heroku.com/home">Heroku</a>, with the repo being publically
                    available on my <a href = "https://github.com/cow-co/RIME">GitHub</a>, if you wish to clone it.
                </p>

                <p>
                    For more information about myself, and my other projects, please do visit <a href = "https://cow-co.gitlab.io">my blog and portfolio site.</a>
                </p>
            </div>

            <div id = "Plan">
                <h2><span class = "glyphicon glyphicon-th-list"></span> Planned Features</h2>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-comment"></span> The Chat itself; instant text messages (think Facebook messenger etc.)
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-picture"></span> Stickers and images in messages.
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-log-in"></span> User signup and Login.
                    </li>
                </ul>
            </div>

        </div>
    </body>
</html>
