<!-- The Welcome page, with some info about the app, and a link for logging in -->
<html>
    <body>
        <h1>Welcome to RIME!</h1>
        <p>
            Lorem ipsum, bitches.
        </p>
    </body>
</html>
